.footer {
  background-color: rgba(47, 48, 58, 1);
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-link-box {
  width: 206px;
}

.footer-link-p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.address-build {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-spaces {
  margin-bottom: 9px;
}

.footer-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.input-fototer {
  width: 358px;
  padding: 15px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
}
